.btn {
    display: inline-block;
            width: 70px;
            height: 50px;
            text-align: center;
            border: gray;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
}
